* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}

h1 {
    color: blue;
}

h2 {
    color: red;
}

img {
    width: 400px;
    height: 400px;
}